<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Worklist</title>
    <link rel="stylesheet" href="style.css">
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <h3>My Daily Worklist</h3>
      <div>
        <input
        name="title"
        placeholder="Masukkan worklist"
      />
        <button
          hx-include="[name=title]"
          hx-trigger="click"
          hx-post="http://localhost:4000/work"
          hx-target="#notification"
          id="saveButton"
        >
          Add
        </button>
      </div>
    </nav>
    <section>
      <div id="notification"></div>
      <ul
        hx-get="http://localhost:4000/work"
        hx-trigger="load, click from:#saveButton"
      >
        <!-- Response api dari endpoint /work -->
      </ul>
    </section>
  </body>
</html>
